body {
  width: 50%;
  margin: auto;
}

header {
  width: 99%;
}
#input-fontsize {
  width: 50px;
}

div {
  width: 49%;
  display: inline-block;
  margin: auto;
}

div * {
  margin-bottom: 5px;
}

#div-color input {
  width: 50px;
  display: block;
}

#div-txt input {
  width: 100px;
  display: block;
}

#btn-save {
  margin-top: 25px;
}
